name: Push_Swap CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y make gcc

      - name: Build push_swap
        run: make

      - name: Check binary exists
        run: test -f push_swap

      # Opcional: ejecuta un test simple
      - name: Run basic test
        run: |
          ./push_swap 3 2 1 > output.txt
          cat output.txt
